<!DOCTYPE html>
<html>
<head>
<title>Select Category</title>
</head>
<body style="text-align:center; background:linear-gradient(#66ccff, #66ccff); color:white; font-family:sans-serif;">
<h1 style="padding-top:150px;">Choose Quiz Type</h1>
<form action="{% url 'question_count' %}" method="get">
  <button name="category" value="prelims" style="padding:15px 30px; margin:10px; border:none; border-radius:8px;">Prelims</button>
  <button name="category" value="mains" style="padding:15px 30px; margin:10px; border:none; border-radius:8px;">Mains</button>
  <button name="category" value="general" style="padding:15px 30px; margin:10px; border:none; border-radius:8px;">General Topics</button>
</form>
</body>
</html>
